# #
*.iml/
.idea/

# #
.gradle/
/build/
/captures/

# #
gradle/wrapper/gradle-wrapper.jar

# #
.externalNativeBuild/
.cxx/

# #
local.properties
.env

# #
.DS_Store
Thumbs.db

# #
.log

# #
.vscode/
.idea/
.kotlin/
.gradle/
